.outer-box {
    border: 3px solid black;
    padding: 40px;
    width: 80%;
    margin: auto;
    font-family: Georgia, serif;
}

.middle-box {
    background-color: blue;
    padding: 40px;
}

.inner-box {
    background-color: yellow;
    padding: 40px;
    text-align: center;
    font-size: 22px;
}

h1 {
    font-size: 40px;
}
