@media (max-width:768px){
    p{
        font-size: 20px;
    }
} 
.box{
    width: 100px;
    height: 100px;
    background: green;
}
@media(min-width:768px){
    .box{
        background: red;
    }
}
li{
    list-style-type: none;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
}
p{
    background-color: brown;
}
nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: aqua;
    
}
.logo{
    color: #fff;
    top: 60px;
    right: 0px;
    left: 20px;
    width: 200px;
}
.menu{
    color: #fff;
    padding: 1em;
    text-decoration: none;
    display: block;
}
@media(min-width: 768px){
    .menu{
        display:flex;
        flex-direction:row;
        position: static

    }
}
