/* h2{
    color: blue;
}
p{
    color: red;
    text-align: center;
    font-size: 25px;
}
.par{
    color: green;
}
#jk{
    background-color: black;
    color: yellowgreen;
    text-align: center;
    font-size: xx-large;
}
container{
    display: inline;
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
}
.box1{
    height: 50px;
    width: 50px;
    color: green;
}
 */
.container{
    display:flex;
    height: 500px;
    width: 1000px;
    border: 1px;
    background-color: antiquewhite;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items:start;
    align-content:space-around;
    gap: 10px;
}
.item{
    height: 100px; 
    width: 200px;
    border: 1px solid black;
    background-color: chocolate;
    text-align: center;
    flex-grow: 1;
   

}
.item2{
    order: -1;
    flex-grow:2;
    align-self: flex-end;
    
}
